
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
}



.tool-header {
  text-align: center;
  font-size: 2rem;
}




.hero {
  display: flex;
  justify-content: space-around;
  padding-top: 3em;
  height: 90vh;
}
.hero-text {
  margin-top: 10em;
}
.hero-text h1 {
  font-weight: bold;
  font-size: 3rem;
}
.hero-text p {
  font-size: 1rem;

  margin-top: 1em;
}
.hero-image img {
  width: 25em;
  height: 30em;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h3 {
  margin-bottom: 2em;
  font-size: 2rem;
  font-weight: 400;
}

.button-and-range{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


#range-slider {
  float: right;
  padding-left: 10px;
  margin-left: 200px;
}


.text-areas {
  display: flex;
  flex-direction: row;

}

#input-textarea {
  
  width: 32em;
  height: 20em;
  resize: none;
  background: #f0f0f0;
  border: 3px solid #00e9d3;
  box-sizing: border-box;
  border-radius: 2em;
  padding: 2em;
}

.input-count {
  font-size: 0.7em;
  margin-left: 45rem;
  opacity: 0.6;
}

input[type="range"] {
  
  overflow: hidden;
  width: 10em;
  -webkit-appearance: none;
  background-color: #f0f0f0;
  border: 1px solid #00e9d3;
  border-radius: 1em;
  margin: 1em;
}
input[type="range"]::-webkit-slider-thumb {
  width: 2em;
  -webkit-appearance: none;
  height: 1em;
  cursor: ew-resize;
  background: #00bdaa;
  box-shadow: -30em 0 0 30em #00e9d3;
  cursor: pointer;
}
.submit {
  display: flex;
  align-items: center;
  background: #00e9d3;
  width: 7em;
  border: 0;
  padding: 0.7em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 10px;
  margin-top: 1em;
  color: #4e4e4e;
  justify-content: center;
  
}
.submit:hover {
  cursor: pointer;
  background-color: #00bdaa;
  color: #ffff;
}
.submit img {
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
}



#output-textarea {
  margin-left: 10px;
  float: right;
  width: 32em;
  height: 20em;
  resize: none;
  background: #f0f0f0;
  border: 3px solid #00e9d3;
  box-sizing: border-box;
  border-radius: 2em;
  padding: 2em;
  position: relative;
}

.description{
  margin-left: 20%;
  margin-right: 20%;
}

.description h3{
  font-size: small;
}
li:not(:last-child) {
  margin-bottom: 5px;
}
.copy {
  background: #f0f0f0;
  width: 7em;
  border: 2px solid #00e9d3;
  padding: 0.5em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1em;
  color: #4e4e4e;
  justify-content: center;
  position: absolute;
  margin-top: 23em;
  margin-left: 37em;
  margin-bottom: 4em;
}

.copy:hover {
  cursor: pointer;
  background-color: #00e9d3;
}
.count-output {
  font-size: 0.7rem;
  margin-left: 48em;
  opacity: 0.6;
  margin-bottom: 5em;
}

@media (max-width: 995px) {
  #input-textarea {
    width: 40em;
  }
  .input-count {
    margin-left: 40em;
  }
  .hero-image {
    display: none;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trynow {
    margin-top: 2em;
  }
  #output-textarea {
    width: 40em;
  }
  .copy {
    margin-left: 24em;
  }
  .count-output {
    margin-left: 25em;
  }
}
@media (max-width: 745px) {
  #input-textarea {
    width: 30em;
  }
  .input-count {
    margin-left: 30em;
  }
  .hero-image {
    display: none;
  }
  .trynow {
    margin-top: 2em;
  }
  #output-textarea {
    width: 30em;
  }
  .copy {
    margin-left: 16em;
  }
  .count-output {
    margin-left: 12em;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: -2em;
  }
  header a {
    font-size: 2em;
    margin: auto;
  }
  .logo-under {
    margin-top: 3.1em;
    width: 7em;
    height: 0.5em;
  }
  .heading h3 {
    text-align: center;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  input[type="range"] {
    width: 20em;
  }
}
@media (max-width: 550px) {
  #input-textarea {
    width: 25em;
  }
  .logo-under {
    margin-top: 3.1em;
  }
  .input-count {
    margin-left: 24em;
  }
  .hero-image {
    display: none;
  }
  .trynow {
    margin-top: 2em;
    width: 7em;
  }
  #output-textarea {
    width: 25em;
  }
  .copy {
    margin-left: 15em;
    width: 4em;
    height: 2em;
    font-size: 0.9rem;
    align-items: center;
    margin-top: 28em;
  }
  .count-output {
    margin-left: 12em;
  }

  .submit {
    width: 8em;
  }

  input[type="range"] {
    width: 12em;
  }
  .output h3 {
    font-size: 1.3rem;
  }
}
